


/* mobile view  */

@media(max-width: 800px) {

    .about {
        padding: 70px 20px;
    }
    .about > div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.5rem;
    }
    .about > div > span > h2 {
        display: none;
    }
    .about #status {
        display: block;
        padding: 20px 0;
        color: var(--secondary-color);
    }
    .about .photo {
        width: 21rem;
        height: 30rem;
        border-radius: 20px;
        margin: 0 auto;
    }

    @media(max-width: 300px) {
        .about .photo {
            width: 15rem;
            height: 24rem;
        }
    }

    .about .progress-wrapper {
        margin: 1rem auto;
        width: 100%;
        border-radius: 5px;
        position: relative;
    }
    
    .about .progress-wrapper .progress-bar{
       padding: 10px;
       background-color: var(--secondarylow-color);
       border-radius: 5px;
       width: 100%;
       transition: width 5s ease-in-out;
    }
    
    .about .progress-wrapper .percentage-tip {
        position: absolute;
        transform: translateY(-50%);
        transform: translateX(-50%);
        color: white;
     }

     .contact-me {
        display: block;
        text-align: center;
        text-decoration: none;
        color: white;
        background-color: var(--secondarylow-color);
        padding: 10px;
        width: 100%;
        border-radius: 10px;
        margin: 1.5rem auto 0 auto;
        
     }

}

/* end mobile view ************************************************* */



/* desktop view  */
@media(min-width: 800px) {


    .about {
        padding: 100px 20px;
    }
    .about > div{
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }
    .about > div > h2 {
        display: none;
    }
    .about #status {
        display: block;
        padding: 20px 0;
    }
    .about .photo {
        width: 25rem;
        height: 30rem;
        border-radius: 5%;
    }

    .about .progress-wrapper {
        margin: 1.5rem auto;
    }

    .about .progress-wrapper .progress-bar{
       padding: 5px;
       background-color: var(--secondarylow-color);
       border-radius: 5px;
       width: 100%;
       transition: width 5s ease-in-out;
    }
    
    .about .progress-wrapper .percentage-tip {
        position: relative;
        transform: translateY(-50%);
        transform: translateX(-50%);
        color: white;
     }
     .contact-me {
        display: block;
        text-align: center;
        text-decoration: none;
        color: white;
        background-color: var(--secondarylow-color);
        padding: 10px;
        width: 100%;
        border-radius: 10px;
        margin: 1.5rem auto 0 auto;
        
     }

}