@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
:root {
    --primary-color:  rgba(1, 14, 41, 0.039);
    --secondary-color: rgb(186, 49, 186);
    --secondarylow-color:  rgba(186, 49, 186, 0.425);
    --main-color:  #081b29;
    --color-green: green;
    --color-text: #ededed;

}

.footer {
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer strong {
    color: rgb(241, 15, 241);
}



/* mobile view  */
@media(max-width: 800px) {

*{margin: 0;padding: 0;box-sizing: border-box;font-family:'Poppins',sans-serif;}
body {position: relative;background-color: var(--main-color);color: var(--color-text);}
@keyframes showRight {
    100% {
        width: 0;
    }
}

.page-name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.page-name .line {
    display: block ;
    width: 100%;
    height: 1px;
    background-color: var(--color-green);
}
.page-name p {
    font-style: italic;
    font-size: 10px;
    padding: 10px 0;
}
}
/* end mobile view  */

/* desktop view  */
@media(min-width: 800px) {

*{margin: 0;padding: 0;box-sizing: border-box;font-family:'Poppins',sans-serif;}

body {background: var(--main-color);color: var(--color-text);}

@keyframes showRight {
    100% {
        width: 0;
    }
}
.page-name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 10px 0;
}

.page-name .line {
    display: block ;
    width: 100%;
    height: 2px;
    margin: 10px 0;
    background-color: var(--color-green);
}
.page-name p {
    font-style: italic;
    font-size: 10px;
    padding: 10px 0;
    
}
}

