
/* mobile view  */
@media(max-width: 800px) {

.header {position: fixed;top: 0;left: 0;width: 100%;padding: 20px 20px;
        background:  #08161d;display:inline;justify-content: space-evenly;
        align-items: center;z-index: 98;}
.logo {position: relative; font-size: 16px;color: #ededed;text-decoration: none;
    font-weight: 400; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
.navbar a {display: none; }

.sidebar {position:absolute;display: flex;flex-direction: column;width: 0;
          justify-content: start;align-items: center;background: #081b29ce;
          height: 100vh;top: 0;left: 200%;padding: 50px 0;transition: 0.5s;
          border: 2px dotted #00abf0;}

.sidebar.is-active {width: 100%;left: 0;}

.sidebar a{display:block; text-align:center;padding: 15px;text-decoration: none;transition: 0.3s;color: #ededed;
        z-index: 100;width: 100%;}
.sidebar a:visited {
    text-decoration:underline #00abf0 1px;
}
.hamburger {display: block;position: fixed;width: 20px;height: 20px;background: transparent;
    border: transparent;border-radius: 50%;top: 20px;right: 30px;}

.hamburger .bar, .hamburger::after, .hamburger::before {content: '';display: block;
    background-color: white;width: 100%; height: 2px;margin: 2px 0;overflow: hidden;
    transition: 0.5s;}
.hamburger.is-active .bar{display: none;}

.hamburger.is-active::after {transform: rotate(45deg) translate(-2px, -2px) ;}

.hamburger.is-active::before {transform: rotate(-45deg);}

    
}

/* desktop view  */
@media(min-width: 800px) {

    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px 3%;
        background: #08161d;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: row;
        
    }
    
    
    .logo {
        position: relative;
        font-size: 25px;
        color: #ededed;
        text-decoration: none;
        font-weight: 600;
    }
    
    .logo::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: #081b29;
        animation: showRight 1s ease forwards;
        animation-delay: .4s;
    }
    
    .navbar a {
        font-size: 18px;
        color: #ededed;
        text-decoration: none;
        font-weight: 500;
        margin-left: 35px;
        transition: 0.3s;
    }
    
    
    .navbar a:hover{
        color: #00abf0;
    }
    .navbar a:focus {
        color: #00abf0;
    }  
    
    .sidebar {
        display: none;
    }
    .hamburger {
        display: none;
    } 

}