@keyframes spiralGlow {
    0% {
      color: rgba(255, 255, 0, 0.8);
      text-shadow: 
        0 0 10px rgba(255, 255, 0, 0.8),
        0 0 20px rgba(255, 255, 0, 0.6),
        0 0 30px rgba(255, 255, 0, 0.4),
        0 0 40px rgba(255, 255, 0, 0.2),
        0 0 50px rgba(255, 255, 0, 0.1);
      transform: rotateZ(0deg) translateX(0px) translateY(0px) translateZ(0px) rotateY(0deg) rotateX(0deg);
    }
    100% {
      color: rgba(255, 255, 0, 1);
      text-shadow: 
        0 0 20px rgba(255, 255, 0, 1),
        0 0 40px rgba(255, 255, 0, 0.8),
        0 0 60px rgba(255, 255, 0, 0.6),
        0 0 80px rgba(255, 255, 0, 0.4),
        0 0 100px rgba(255, 255, 0, 0.2);
      transform: rotateZ(720deg) translateX(100px) translateY(100px) translateZ(100px) rotateY(360deg) rotateX(360deg);
    }
  }
  
  
  


/* mobile view  */
@media(max-width: 1006px) {

.header {position: fixed;top: 0;left: 0;width: 100%;padding: 20px 20px;
        background:  #08161d;display:inline;justify-content: space-evenly;
        align-items: center;z-index: 98;}
.logo-container {perspective: 2000px;}
.logo {position: relative; font-size: 16px;text-decoration: none;
    font-weight: 400; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgba(255, 255, 0, 0.8); 
    animation: spiralGlow 8s infinite alternate ease-in-out; 
}
.navbar a {display: none; }

.sidebar {position:absolute;display: flex;flex-direction: column;width: 0;
          justify-content: start;align-items: center;background-color: #081b29ee;
          height: 100dvh;top: 0;bottom: 100%;right: 200%;padding: 50px 0;transition: 0.3s;
          }

.sidebar.is-active {width: 50%;right: 50%;bottom: 0;}

.sidebar a{display:block; text-align:center;padding: 15px;text-decoration: none;transition: 0.3s;color: #ededed;
        z-index: 100;width: 100%;}
.sidebar a :active, .sidebar a:hover, .sidebar a:link {
    color: var(--secondary-color);
}


.hamburger {display: block;position: fixed;width: 25px;height: 25px;background: transparent;
    border: transparent;border-radius: 50%;top: 20px;right: 30px;}

.hamburger .bar, .hamburger::after, .hamburger::before {content: '';display: block;
    background-color: white;width: 100%; height: 3px;margin: 3.5px 0;overflow: hidden;
    transition: 0.5s;}
.hamburger.is-active .bar{display: none;}

.hamburger.is-active::after {transform: rotate(45deg) translate(-4px, -4px) ;}

.hamburger.is-active::before {transform: rotate(-45deg);}

    
}

/* desktop view  */
@media(min-width: 1006px) {

    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px 3%;
        background: #08161d;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: row;
        
    }
    
    
    .logo {
        position: relative;
        font-size: 25px;
        color: #ededed;
        text-decoration: none;
        font-weight: 600;
        animation: spiralGlow 8s infinite alternate ease-in-out; 
    }
    
   
    
    .navbar a {
        font-size: 18px;
        color: #ededed;
        text-decoration: none;
        font-weight: 500;
        margin-left: 35px;
        transition: 0.3s;
    }
    
    
    .navbar a:hover{
        color: var(--secondary-color);
    }
    .navbar a:focus {
        color: var(--secondary-color);
    }  
    
    .sidebar {
        display: none;
    }
    .hamburger {
        display: none;
    } 

}