.resume-main {
    padding: 5rem 1.5rem;
}
.resume-main>p {
    margin-bottom: 10px;
}



.resume-main .resume-info {
    display: inline-flex;
    flex-direction: column;
    gap: 0.5rem;
}

.resume-info div h2 {
    padding: 10px 0;
}
.resume-info div h3 {
    padding: 0 0 5px 0;
    color: var(--secondary-color);
}
.resume-info div ul {
    padding: 10px 1.5rem;
    list-style:circle;
}
.resume-main div ul li {
    padding: 5px 0;
}




/* mobile view  */
@media(max-width: 800px) {

    .resume-main {
        padding: 5rem 1.5rem;
    }
    
    .resume-main .resume-info {
        display: grid;
        gap: 20px;
    }
    .resume-info>div {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        background-color: var(--primary-color);
        box-shadow: 0px 0px 0px 1px var(--secondarylow-color);
    }
    .resume-info div h2 {
        padding: 10px 0;
    }
    .resume-info div h3 {
        padding: 0 0 5px 0;
        color: var(--secondary-color);
    }
    .resume-info div ul {
        padding: 10px 1.5rem;
        list-style:circle;
    }
    .resume-main div ul li {
        padding: 5px 0;
    }

}

/* end mobile view  */






/* desktop view  */
@media(min-width: 800px) {
    .resume-main {
        padding: 5rem 1.5rem;
    }
    
    .resume-main .resume-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
    }
    .resume-info>div {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        background-color: var(--primary-color);
        box-shadow: 0px 0px 0px 1px var(--secondarylow-color);
    }
    .resume-info div h2 {
        padding: 10px 0;
    }
    .resume-info div h3 {
        padding: 0 0 5px 0;
        color: var(--secondary-color);
    }
    .resume-info div ul {
        padding: 10px 1.5rem;
        list-style:circle;
    }
    .resume-main div ul li {
        padding: 5px 0;
    }
}