<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/navbar_sidebar.css">
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
    
    <title>Prince Kelly's Website</title>
</head>
<body>
    <header class="header">
        <a href="#" class="logo">.Prince Kelly</a>
        <nav class="navbar">
            <a href="/templates/index.html">Home</a>
            <a href="/templates/about.html">About</a>
            <a href="/templates/resume.html">Resume</a>
            <a href="/templates/services.html">Services</a>
            <a href="/templates/portforlio.html">Portfolio</a>
            <a href="/templates/contact.html">Contact</a>
        </nav>
        <nav class="sidebar">
            <a href="/templates/index.html">Home</a>
            <a href="/templates/about.html">About</a>
            <a href="/templates/resume.html">Resume</a>
            <a href="/templates/services.html">Services</a>
            <a href="/templates/portforlio.html">Portfolio</a>
            <a href="/templates/contact.html">Contact</a>
            <button class="hamburger"><div class="bar"></div></button>
        </nav>
    </header>
    <main class="home">
        <span class="page-name"><p>home</p><div class="line"></div></span>
        <section class="home-content">
            <h1>Hi, I'm Prince Kelly</h1>
            <h3>Backend Developer</h3>
            <p>
                I'm partionate about aritifial intelligence, the internet of things,
                machine learning, software development and building startups, currently 
                i'm very open for learning and adapting to changing technology.
            </p>
            <div class="btn-box">
                <a href="#">Hire me</a>
                <a href="#">let's talk</a>
            </div>
        </section>
        <section class="home-sci"><!--home scree icons-->
            <a href="#"><i class="bx bx1-facebook"></i></a>
            <a href="#"><i class="bx bx1-twitter"></i></a>
            <a href="#"><i class="bx bx1-linkedin"></i></a>
        </section>

        <span class="home-imgHover"></span>
    </main>

    <footer class="footer">
        <span class="page-name"><p>Designed By <strong>Anye Prince Kelly</strong></p></span>
    </footer>

    <script src="/static/js/main.js"></script>
    <script src="/static/js/mobile.js"></script>
</body>
</html>