<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/navbar_sidebar.css">
    <link rel="stylesheet" href="/static/css/services.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
    <title>services| prince kelly</title>
</head>
<body>
    <header class="header">
        <a href="#" class="logo">.Prince Kelly</a>
        <nav class="navbar">
            <a href="/templates/index.html">Home</a>
            <a href="/templates/about.html">About</a>
            <a href="/templates/resume.html">Resume</a>
            <a href="/templates/services.html">Services</a>
            <a href="/templates/portforlio.html">Portfolio</a>
            <a href="/templates/contact.html">Contact</a>
        </nav>
        <nav class="sidebar">
            <a href="/templates/index.html">Home</a>
            <a href="/templates/about.html">About</a>
            <a href="/templates/resume.html">Resume</a>
            <a href="/templates/services.html">Services</a>
            <a href="/templates/portforlio.html">Portfolio</a>
            <a href="/templates/contact.html">Contact</a>
            <button class="hamburger"><div class="bar"></div></button>
        </nav>
    </header>


    <footer class="footer">
        <span class="page-name"><p>Designed By <strong>Anye Prince Kelly</strong></p></span>
    </footer>

    <script src="/static/js/main.js"></script>
    <script src="/static/js/mobile.js"></script>
</body>
</html>